.clock {
    width: 100%;
    display: inline-block;
}
.time {
    width: 25%;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 40px;
}   
.label {
    font-size: 18px;
}
@media (max-width:500px) {
    .time{
      width: 50%;  
    }
}
@media (max-width:400px) {
    .time{
      width: 100%; 
      margin-bottom: 50px; 
    }
    .time:last-of-type {
        margin-bottom: 0%;
    }
}