body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
        background-color: yellow;
    }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc(50% - 500px);
        background-color: yellow;
    }
        .left-column {
            display: inline-block;
            width: 50%;
            float: left;
            background-color: red;
        }
        .right-column {
            display: inline-block;
            width: 40%;
            float: right;
            background-color: red;
        }
        .socials {
            display: inline-block;
            width: 100%;
            border-bottom: 2px solid #fff;
        }
        .footer-texts {
            display: inline-block;
            width: 600px;
            margin-left: calc(50% - 300px);
            background-color: red;
        }

.bg-blue {
    background-color: #02A9F4;
}